body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.conatiner{
    width: 100%;
    height: 1000px;
    
}


main {
    padding: 20px;
    width: 400px;
    height: 400px;
    background-color:orange;
   margin-left: 450px;
}

section {
    margin-bottom: 20px;
}
h2{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;

}

label {
    margin: 5px 0;
}

input, select, textarea {
    padding: 8px;
    margin-bottom: 10px;
}

button {
   width: 300px; 
   height: 40px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 60px;
    font-size: 20px;
}

button:hover {
    background-color: black;
}
